{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Register{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<!-- INIT******************************************MESSAGES SECTION****************************************** -->
    
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}

<!-- END*******************************************MESSAGES SECTION****************************************** -->
<div class="text-center container form-style">
    <main>
        <form action="" method="post">{% csrf_token %}
            <div class="px-5 py-2 mb-4">
                <img class="mb-4" src="{% static 'img/usuario.png' %}" width="90" height="90">
            </div>
            <div class="mb-3 text-start">
                <label class="form-label">Email:</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="mb-3 text-start">
                <label class="form-label">Contraseña:</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="mb-3 text-start">
                <label class="form-label">Confirmar contraseña:</label>
                <input type="password" class="form-control" name="password_confirm">
            </div>
            <button type="submit" class="w-100 btn btn-primary">Registrar</button>
            <div class="mt-1 text-start">
                <a href="{% url 'login' %}">¿Ya tienes cuenta?</a>
            </div>
            <p class="mt-5 mb-3 text-muted">Copyright © {% now 'Y' %} Djcom</p>
        </form>
    </main>
</div>
{% endblock %}

{% block footer %}{% endblock %}