{% extends 'modal.html' %}


{% block idModal %}modal-eliminarCategoria{% endblock %}
{% block modalTitle %}Eliminar Categoria{% endblock %}
{% block action %}{% url 'eliminar_categoria' %}{% endblock %}

{% block modalBody %}
<p class="text-secondary text-center">¿ Estas seguro que quires eliminar la categoria <strong id="modal-eliminarCategoria-nombre"></strong> ?</p>
<input type="hidden" name="id_categoria" id="modal-eliminarCategoria-id_categoria" value="">
{% endblock %}

{% block modalButton %}
<button type="submit" class="btn btn-danger">Eliminar</button>
{% endblock %}