{% extends 'admin_base.html' %}
{% load static %}
{% load custom_tags %}

{% block content_header %}
<h2>{{ producto.nombre }}</h2>
{% endblock %}

{% block content %}
<script>
    window.onload = () => {
        
        try{

            const options  = [
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],
                ['link', 'image'],

                [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                [{ 'direction': 'rtl' }],                         // text direction

                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                [{ 'font': [] }],
                [{ 'align': [] }],

                ['clean']                                         // remove formatting button
            ];


            if(document.getElementById("editor")){

                let quill = new Quill('#editor', {
                    theme: 'snow',
                    modules: {
                        toolbar: options  // Include button in toolbar
                    },
                });

            }

        }catch(e){
            console.error(e);
        }
    }


    const copyHTML = () => {
        let codigo = document.getElementById("editor").getElementsByClassName("ql-editor")[0];
        navigator.clipboard.writeText(codigo.innerHTML);
    }
</script>
<div class="d-flex justify-content-center mt-2">
    <form 
        action="" 
        data-url="/admin_panel/editar_producto/{{producto.id}}" 
        class="container" 
        method="POST" 
        enctype="multipart/form-data"
        onsubmit="return guardarProducto(this)"
    >{% csrf_token %}
        <div class="form-group">
            <label for="producto-categoria" class="form-label mt-1">Categoria:</label>
            <select name="categoria" id="producto-categoria" class="form-control">
                {% for categoria in categorias %}
                    {% if categoria == producto.categoria %}
                    <option value="{{categoria.identificador}}" selected>{{categoria.nombre}}</option>
                    {% else %}
                        <option value="{{categoria.identificador}}">{{categoria.nombre}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="producto-nombre" class="form-label mt-1">Nombre:</label>
            <input type="text" class="form-control" name="nombre" value="{{producto.nombre}}">
        </div>
        <div class="form-group">
            <label for="producto-codigo" class="form-label mt-1">Codigo de producto:</label>
            <input type="text" class="form-control" name="codigo" value="{{ producto.codigo }}">
        </div>
        <div class="form-group">
            <label for="producto-imagenes" class="form-label mt-1">Imagenes:</label>
            <input class="form-control" type="file" id="producto-imagenes" name="imagen" onchange="previewImages(this);" multiple>
            <small class="form-text text-muted">Las imagenes recién cargadas pueden reemplazarse escogiendo un nuevo archivo.</small>
        </div>
        <div class="w-100 border row text-center" id="producto-imagenes-preview" style="min-height: 150px">
            {% for image in producto.imagenproducto_set.all %}
            <div class="col-lg-4 position-relative" id="productoImagenContent-{{ image.id }}">
                <img src="{{ image.imagen.url }}" class="img-fluid" />
                <div class="hover-content hidden" onmouseover="showBack(this)" onmouseout="hideBack(this)">
                    <a 
                        href="#" 
                        class="btn btn-danger btn-sm" 
                        data-bs-toggle="modal" 
                        data-bs-target="#modal-eliminarProductoImagen" 
                        data-id_imagen="{{ image.id }}"
                    >
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="producto-genero" class="form-label mt-1">Genero:</label>
            <select name="genero" id="producto-genero" class="form-control">
                {% for genero in generos %}
                    {% if genero.0 == producto.genero %}
                        <option value="{{genero.0}}" selected>{{genero.1}}</option>
                    {% else %}
                        <option value="{{genero.0}}">{{genero.1}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="producto-descripcion" class="form-label mt-1">Descripción:</label>
            <div id="editor" style="background-color: white;">
                {{ producto.descripcion | safe }}
            </div>
        </div>
        <div class="form-group">
            <label for="producto-precio_venta" class="form-label mt-1">Precio de venta:</label>
            <input type="number" class="form-control" name="precio_venta" value="{{ producto.precio_venta }}">
        </div>
        <div class="form-group">
            <label for="producto-precio_compra" class="form-label mt-1">Precio de compra:</label>
            <input type="number" class="form-control" name="precio_compra" value="{{ producto.precio_compra }}">
        </div>

        <div class="form-group">
            <label class="form-label mt-1">Tallas y stock:</label>
            <div class="container mt-2 overflow-auto">

                <div class="row">
                    {% for talla in tallas %}
                    <div class="col-lg-3 col-md-4 mt-2 px-3">
                        <div class="row">
                            <div class="col-5">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{talla.0}}" id="checkbox{{talla.talla}}" onclick="cambiarStock(this);" data-id_input="input{{talla.talla}}" {% if talla.stock > 0 %}checked{% endif %}>
                                    <input type="hidden" value="{{ talla.id }}" name="tallas[]">
                                    <label class="form-check-label" for="checkbox{{talla.talla}}">
                                        <i class="bi bi-rulers text-secondary"></i> {{ talla.talla }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-7">
                                <input type="number" class="form-control input_stock" name="stock_talla[]" value="{{ talla.stock }}" {% if talla.stock == 0 %}readonly{% endif %} id="input{{talla.talla}}" onchange="recalcularStock()">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="producto-stock" class="form-label mt-1">Stock:</label>
            <input type="number" class="form-control" name="stock" id="producto-stock" readonly value="{{ producto.stock }}">
        </div>

        <input type="submit" class="btn btn-danger my-4" value="Guardar">

    </form>
</div>
{% include 'modals/eliminar_imagen_producto.html' %}
{% endblock %}